# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
reinsightapp/
venv/
.env

# Flask
instance/

# SQLite database
*.db
*.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db